<header class="header">
    <span>
        <div>
            <a>
                <img routerLink="/" class="logo1" src="assets/logo4.png" alt="logo" title="home">
            </a>
            <a routerLink="/" class="button btn-lg" role="button">
                HOME
            </a>
            <a routerLink="/eventos" class="button btn-lg" role="button">
                EVENTOS
            </a>
            <a routerLink="/" class="button btn-lg" role="button">
                CONTATOS
            </a>
        </div>
    </span>
</header>
<router-outlet></router-outlet>