<div class="box-body">
    <h4>
        Cadastrar Eventos
    </h4>
</div>
<div class="container search-table">
    <div class="search-box">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="evento">Evento* </fieldset>
                <input type="text" id="myInput" class="form-control" [formControl]="queryField" required>
            </div>
            <div id="divData" class="col-md-5">
                <fieldset class="data">Data* </fieldset>
                <input type="date" id="myInput" class="form-control" [formControl]="queryField" required>
            </div>
        </div>
    </div>

    <div class="search-list">
        <div class="example-button-container">
            <i class="fa fa-plus-circle fa-2x" title="Adicionar participante" (click)="adicionarParticipante()"
                aria-hidden="true"></i>
        </div>
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Setor</th>
                    <th>Patrocinador</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let participante of participantes'>
                    <td>{{participante.nome}}</td>
                    <td>{{participante.setor}}</td>
                    <td>{{participante.patrocinador}}</td>
                    <td>{{participante.valor}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="search-box">
        <div class="row">
            <div class="form-group col-md-4">
                <fieldset class="valor">Valor Total</fieldset>
                <input type="text" id="inputValor" class="form-control" [formControl]="queryField" required>
            </div>
            <div id="divNotaFiscal" class="form-group col-md-5">
                <fieldset class="notaFiscal">Nota Fiscal*</fieldset>
                <input type="file" id="inputNotaFiscal" class="form-control" [formControl]="queryField" required>
            </div>
        </div>
    </div>
    <button type="button" id="salvar" class="btn btn-secondary btn-xs" (click)="cadastrar()">
        <i class="fa fa-save fa-sm" aria-hidden="true">&nbsp;</i>
            Cadastrar
    </button>
    <button type="button" id="finalizar" class="btn btn-secondary btn-xs" (click)="finalizar()">
        <i class="fa fa-times fa-sm">&nbsp;</i>
        Finalizar
    </button>
    <button type="button" id="imprimir" class="btn btn-secondary btn-xs" (click)="imprimir()">
        <i class="fa fa-print fa-sm">&nbsp;</i>
        Imprimir
    </button>
</div>
<router-outlet></router-outlet>