.box-body {
    height: 75px;
    padding-left: -20px;
}

.adcParticipante{
    padding-left: 420px;
    padding-top: 100px;
}

input:focus{
    box-shadow:none;
    border:2px solid #c4c2c2;
}

button{
    width: 180px;
    margin: 50px 10px 10px 120px;
}

button:focus{
    box-shadow:none;
    border:none;
}

#salvar:hover{
    background-color: rgb(0,128,0);
}

#cancelar:hover{
    background-color: rgb(255,0,0);
}
