<mat-toolbar class="footer"> 
    <span>
        {{ desenvolvedor }}

        <div class="fa-sm">
            <a href= {{linkedin}}>
                <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>
            </a>

            <a href= {{github}}>    
                <i class="fa fa-fw fa-github" aria-hidden="true"></i>
            </a>

            <a href = {{email}}>
                <i class="fa fa-fw far fa-envelope" aria-hidden="true"></i>
            </a>
        </div>
    </span>       
</mat-toolbar>
